@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.App {
  text-align: center;
}

a { 
  text-decoration: none;
 }

a:visited { 
  text-decoration: none;
 }

 button#create{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#close{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.showName{
  text-align: center;
}

div.showItems {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
text-align: center;
gap: 20px;
}

div.nav{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a#navlinks{
  color: white;
  font-weight: 400;
}

div.showValue{
  display: flex;
  font-weight: 600;
}

img#frame2{
  display: block;
margin-left: auto;
margin-right: auto;
}

p#showCategory{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

div.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

div.frame_and_fork {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

div.headset {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

div.wheels {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid black;
}

div.crankset {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid black;
}

div.seat {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

div.links{
  display: flex;
  justify-content: center;
  gap: 5px;
}

h1{
  font-family: 'Train One', cursive;
  text-decoration: none;
}

h2#myBikeDatabase{
  font-family: 'Train One', cursive; 
}

h2#create{
  text-align: center;
}

aside.list-of-bikes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

h2#list-bikes{
  text-align: center;
}

div.index-single-item{
  display: inline-block;
}

div.item-name{
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.list-of-bikes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  font-weight: 600;
  gap: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
