@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


.App {
  text-align: center;
}

a { 
  text-decoration: none;
 }

a:visited { 
  text-decoration: none;
 }

 a#enter{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:13px 0.3em 0.3em 0;
  border-radius:3em;
  border: 1px solid black;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#499c62;
  text-align:center;
  transition: all 0.2s;
 }

 a#enter:hover{
  background-color:#43e788;
  color: black;
  border: 1px solid black;
 }

#links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

 button#create{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#close{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#edit-item-form {
  display: flex;
  flex-direction: column;
}

div.edit-form {
  display: flex;
  border: 2px solid black;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: column;
}

div.intro{
  overflow: hidden;
  background-color: darkslategrey;
  border: 0px solid darkslategrey;
  height: 100%;
  width: 100%;
  margin: auto;
  color: white;
  text-shadow: 0 2px black, 0 3px black, 0 3px  black, 0 2px black;
}

div.showName{
  text-align: center;
}

div.showItems {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
text-align: center;
gap: 20px;
}

div.nav {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}



div.nav1{
  overflow: hidden;
  background-color: darkslategrey;
  width: 100%;
  margin-right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 5px black, 0 3px black, 0 3px  black, 0 -1px black;
}

a#navlinks{
  color: white;
  font-weight: 400;
}

div.showValue{
  font-weight: 600;
}

span.showValue{
  display: flex;
  font-weight: 600;
}

img#frame2{
  display: block;
margin-left: auto;
margin-right: auto;
}

div.frameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}


div.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

div.frame_and_fork {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

div.headset {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  text-align: center;
  border: 1px solid black;
  flex-direction: column;
}

div.wheels {
  display: block;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  justify-content: space-evenly;
}

div.crankset {
  display: block;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid black;
  justify-content: space-between;
}

div.seat {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  justify-content: space-between;
}

div.links{
  display: flex;
  justify-content: center;
  gap: 20px;
}

header{
  display: flex;
}

nav{
  display: flex;
}

ul.links{
  display: flex;
}

h1{
  font-family: 'Train One', cursive;
  text-decoration: none;
}

h2#myBikeDatabase{
  font-family: 'Train One', cursive; 
}

h2#create{
  text-align: center;
}

aside.list-of-bikes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

h2#list-bikes{
  text-align: center;
}

div.index-single-item{
  display: inline-block;
}

div.item-name{
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.list-of-bikes {
  display: flex;
  flex-direction: column;
  align-items: center;
}



li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  font-weight: 600;
  gap: 2px;
}

p#about{
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
  background-color: beige;
}


p#welcome-message{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p#showCategory{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

/* REGISTRATION */

form.registration{
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  padding: 40px;
}

div.registration{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button#spray{
  margin: auto;
    text-align: center;
    border-radius: 3em;
    height: 50px;
    width: 150px;
    display: block;
    font-size: 1.5em;
    background: #ffc400;
}

button#spray:hover{
  background: #ffe283;
  transition: all 0.2s;
}

button#spray:active{
  background: #ebaaff;
  transition: all 0s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

button#edit{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:13px 0.3em 0.3em 0;
  border-radius:3em;
  border: 1px solid black;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#000000;
  text-align:center;
  transition: all 0.2s;
 }

 button#edit:hover{
  background-color:#f7d40e;
  color: black;
  border: 1px solid black;
 }

 button#view{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:13px 0.3em 0.3em 0;
  border-radius:3em;
  border: 1px solid black;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#000000;
  text-align:center;
  transition: all 0.2s;
 }

 button#view:hover{
  background-color:#3df70e;
  color: black;
  border: 1px solid black;
 }

 button#delete{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:13px 0.3em 0.3em 0;
  border-radius:3em;
  border: 1px solid black;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#000000;
  text-align:center;
  transition: all 0.2s;
 }

 button#delete:hover{
  background-color:#f70e0e;
  color: black;
  border: 1px solid black;
 }

/*Users List*/
u#list-of-users{
  display: flex;
 justify-content: center;
}

div.index-single-user{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-buttons{
  display: flex;
  gap: 5px;
}


/*Login*/
div.login{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.login{
  display: flex;
  border: 2px solid black;
  padding: 25px;
}


div.login-form{
  justify-content: center;
}



/*Responsive Mobile style*/
@media all and (max-width: 280px) {
  div.nav1{
    width: 100%;
  }
  img#frame1{
    height: 250px;
  }
 }
  


@media all and (max-width: 480px) {
img#frame1{
  height: 250px;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100%;
}
}

@media all and (max-width: 720px) {
  img#frame1{
    align-items: center;
    height: 250px;
  }
  
  .intro{
    display: flex;
    align-items: center;
    flex-direction: column;
  width: 100%;
  }
  }

  @media all and (max-width: 1024px) {
    .nav1{
      overflow: hidden;
      width: 100%
    }

    div.intro{
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
    width: 100%;
    height: 100%;

    }
    }

    @media all and (min-width: 1921px) {
    .nav1{
      overflow: hidden;
      width: 100%
    }


      div.intro{
        width: 100%;
        height: 100%;
        bottom: 0;
        border-bottom: 10.0vh solid darkslategrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
      }
      }


      /* API LOADING ANIMATION */

      div.load{
        display:flex;
        flex-direction: column;
        align-items: center;
      }

      img.load {
        height: 75%;
        width: 75%;
        animation: spin 6s infinite;
        animation-timing-function: linear;
      }

      p#load{
        text-align: center;
        animation: fadein 1.8s infinite;
      }
      
      
      @keyframes spin {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes fadein {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }