@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.App {
  text-align: center;
}

a { 
  text-decoration: none;
 }

a:visited { 
  text-decoration: none;
 }

 a#enter{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:13px 0.3em 0.3em 0;
  border-radius:3em;
  border: 1px solid black;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#499c62;
  text-align:center;
  transition: all 0.2s;
 }

 a#enter:hover{
  background-color:#43e788;
  color: black;
  border: 1px solid black;
 }

#links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

  
}



 button#create{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#close{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div#edit-item-form {
  display: flex;
  flex-direction: column;
}

div.edit-form {
  display: flex;
  border: 2px solid black;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: column;
}

div.intro{
  background-color: darkslategrey;
  border: 3px solid darkslategrey;
}

div.showName{
  text-align: center;
}

div.showItems {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
text-align: center;
gap: 20px;
}

div.nav{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.nav1{
  background-color: darkslategrey;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a#navlinks{
  color: white;
  font-weight: 400;
}

div.showValue{
  display: flex;
  font-weight: 600;
}

img#frame2{
  display: block;
margin-left: auto;
margin-right: auto;
}

#intro{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p#showCategory{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 50px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

div.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

div.frame_and_fork {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

div.headset {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  text-align: center;
  border: 1px solid black;
  flex-direction: column;
}

div.wheels {
  display: block;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  justify-content: space-evenly;
}

div.crankset {
  display: block;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: 1px solid black;
  justify-content: space-between;
}

div.seat {
  display: block;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  justify-content: space-between;
}

div.links{
  display: flex;
  justify-content: center;
  gap: 5px;
}

h1{
  font-family: 'Train One', cursive;
  text-decoration: none;
}

h2#myBikeDatabase{
  font-family: 'Train One', cursive; 
}

h2#create{
  text-align: center;
}

aside.list-of-bikes{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

h2#list-bikes{
  text-align: center;
}

div.index-single-item{
  display: inline-block;
}

div.item-name{
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.list-of-bikes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  font-weight: 600;
  gap: 2px;
}

p#about{
  width: 500px;
  margin: auto;
  border: 1px solid black;
  padding: 20px;
  background-color: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
